{% extends 'home/index.html' %}

{% block body_class %}blog-detail-page{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="\src\blog\static\blog\style.css">
<!--Earlier/Later Post Buttons-->
<div class="blog-detail">
    <div class="blog-detail__post">
        <h1 class="blog-detail__post-heading"> {{ post.title }} </h1>
        <small class="blog-detail__post-categories">
            {{ post.created_on.date }} | Categories:
            {% for category in post.categories.all %}
            <a class="blog-detail__post-categories-link" href="{% url 'blog_category' category.name %}">
                {{ category.name }}
            </a>
            {% endfor %}
        </small>
        <div class="blog-detail__post-content">
            {{ post.content | safe }}
        </div>
    </div>
    <div class="blog-detail__post-arrows">
        {% if previous_post %}
            <a href="{% url 'blog_detail' previous_post.pk %}" class="blog-detail__post-arrow-earlier">Earlier Post</a>
        {% endif %}
        {% if next_post %}
            <a href="{% url 'blog_detail' next_post.pk %}" class="blog-detail__post-arrow-later">Later Post</a>
        {% endif %}
    </div>

    <!--Add Comments-->
    <div class="blog-detail__comments-section">
        <h3 class="blog-detail__comments-section-heading">Leave a comment:</h3>
        <form method="post">
            {% csrf_token %}
            <div class="blog-detail__comment-author">
                {{ form.author }}
            </div>
            <div class="blog-detail__comment-body">
                {{ form.body }}
            </div>
            <div class="blog-detail__comment-submit">
                <button type="submit" class="blog-detail__comment-submit-button">
                    Submit
                </button>
            </div>
        </form>
    </div>
        <!--Show All Comments-->
    <div class="blog-detail__all-comments">
    <h3 class="blog-detail__all-comments-heading">Comments:</h3>
        {% for comment in comments %}
    <p>
        On {{comment.created_on.date}}, <b>{{ comment.author }}</b> wrote:
    </p>
    <p>
        {{ comment.body | linebreaks }}
    </p>
</div>
</div>
</div>
    {% endfor %}
{% endblock content %}

{% block styles %}
    <link rel="stylesheet" href="/src/blog/static/blog/style.css">
{% endblock %}