{% extends 'home/index.html' %}

{% block body_class %}blog-detail-page{% endblock %}

{% block content %}

<!--Earlier/Later Post Buttons-->
<div>
    {% if previous_post %}
        <a href="{% url 'blog_detail' previous_post.pk %}" class="nav-arrow nav-arrow-left">Earlier Post</a>
    {% endif %}
    {% if next_post %}
        <a href="{% url 'blog_detail' next_post.pk %}" class="nav-arrow nav-arrow-right">Later Post</a>
    {% endif %}
</div>

<!--Post in detail-->
<h1> {{ post.title }} </h1>
    <small>
        {{ post.created_on.date }} | Categories:
        {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}">
                {{ category.name }}
            </a>
        {% endfor %}
    </small>
    <div>
    {{ post.content | safe }}
    </div>


    <!--Add Comments-->
    <h3>Leave a comment:</h3>
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.author }}
        </div>
        <div>
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!--Show All Comments-->
    <h3>Comments:</h3>
    {% for comment in comments %}
    <p>
        On {{comment.created_on.date}}, <b>{{ comment.author }}</b> wrote:
    </p>
    <p>
        {{ comment.body | linebreaks }}
    </p>
    {% endfor %}
{% endblock content %}