{% extends 'home/index.html' %}

{% block body_class %}default-background{% endblock %}

{% block content %}
{% load static %}
<link href="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.css" rel="stylesheet">
<script src="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.js"></script>
<!-- Background video -->
<div id="loading-screen">
    <img src="{% static 'blog/white-word.png' %}" alt="Loading...">
</div>
<div class="video-container">
    <img src="{% static 'images/frikvarteret-1.png' %}" width="100%" alt="Urban Design Insights">
</div>

<!-- hero title -->
<div class="home-hero__title">
    <h1 class="home-hero__title-heading">
        Urban Design Insights <br> For Resilient Communities.
    </h1>
</div>

<!-- Scroll Down Arrow -->
<div class="home__scroll-down-arrow">
    <a href="#main-content">
        <img src="{% static 'blog/down-arrow.png' %}" alt="Scroll Down">
    </a>
</div>

<!--explanation hero section-->
<div class="home-hero" id="main-content">
    <div class="home-hero__container">
        <div class="home-hero__description">
            <h2 class="home-hero__description-heading">
                How can we design for an uncertain future?
            </h2>
            <p class="home-hero__description-purpose">
                The world around us is changing, and we know that to thrive, we need to change with it.<br>
                But knowing that something must change is not the same as knowing how to change.<br>
                Urbcom highlights transformative urban projects helping to build resilience in cities around the globe.<br>

            </p>
        </div>
        <!-- <div class="home-hero__projects">
            <a class="home-hero__projects-link" href="{% url 'projects_index' %}">
                <button class="home-hero__projects-button">Explore Projects</button>
            </a>
        </div>     -->
    </div>
</div>

<!-- Article Content -->
<div class="home-posts">
    <!-- Principles Section -->
    
    <div class="home-posts__categories">
        <!-- Articles by Category Section -->
        <h2 class="home-posts__categories-heading">
            Six Principles for Resilient Design
        </h2>
        <p class="home-posts__categories-description">
            These principles help to guide how to approach urban design in an uncertain world
        </p>
        {% for category, posts in category_articles.items %}
        <h3 class="home-posts__categories-specific-detail">
            <a href="{% url 'category_detail' category.pk %}">
                {{ category.name }}
            </a>
        </h3>
        <ul class="home-posts__categories-specific-list">
            
        <p class="home-posts__categories-specific-description">
            {{ category.short_description }}
        </p>
        {% for post in posts %}
            
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    <!-- </div> -->
    <!-- Map of projects section -->
    <div class="home-posts__map">
        <h2 class="home-posts__map-heading">
            Explore Projects
        </h2>
        <p class="home-posts__map-description">
            Discover how these principles are applied in real-world projects
        </p>    
        <div class="home-posts__map-image">
            <div id="globe-container" style="width: 100%; height: 100vh;"></div>
            <script src="{% static 'js/map.js' %}"></script>
        </div>      
    </div> 

    <!-- Latest Posts Section -->
    <h3 class="home-posts__latest-heading">
        Latest Posts
    </h3>
    <div class="latest-popular__container">
        <div class="home-posts__latest">
            <div class="home-posts__latest-cards">
                <ul class="home-posts__latest-cards-list">
                    {% for post in latest_posts %}
                    <li class="home-posts__latest-detail">
                        <a class="home-posts__latest-detail-link" href="{% url 'blog_detail' post.pk %}">
                            {% if post.cover_photo %}
                            <img class="home-posts__latest-detail-image" src="{{ post.cover_photo.url }}" alt="{{ post.title }}">
                            {% endif %}
                            <span>{{ post.title }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="home-posts__view-all-posts">
                    <a class="home-posts__view-all-posts-link" href="{% url 'blog_index' %}">
                        View All Posts
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}